/**
      0 - 600px:  Phone
    600 - 900px:  Tablet Portrait
   900 - 1200px:  Tablet landscape
[1200 - 1800px]:  Our Normal Styles apply
      1800px + :  Big Desktop

  $breakpoint argument choices:
    - phone
    - tab-port
    - tab-land
    - big-desktop

    em is the best option for media queries, not rem.

    ORDER to making stuff responsive:
      Base + typography > general layout + grid > page layout > components
 */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  /*
  Automatically inherit in all elements whatever we set
  in body.
   */
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  /*

  This will act as a basis for all our REM calculations.

  The root font size is usually 16px. So 10px is 62.5%,
  and thus 1REM = 10px.

  REM is not supported by IE < 9
  */
  font-size: 62.5%; }
  @media only screen and (min-width: 112.5em) {
    html {
      font-size: 75%; } }
  @media only screen and (max-width: 75em) {
    html {
      font-size: 56.25%; } }
  @media only screen and (max-width: 56.25em) {
    html {
      font-size: 50%; } }

body {
  height: 100%;
  width: 100%;
  background-color: #f7f7f7; }

@keyframes moveInLeft {
  /* Best practice is to always
     animate the opacity and transform
     properties for best performance */
  0% {
    /* start */
    opacity: 0;
    transform: translateX(-10em); }
  100% {
    /* finish */
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInRight {
  /* Best practice is to always
     animate the opacity and transform
     properties for best performance */
  0% {
    /* start */
    opacity: 0;
    transform: translateX(10rem); }
  100% {
    /* finish */
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInBottom {
  /* Best practice is to always
     animate the opacity and transform
     properties for best performance */
  0% {
    /* start */
    opacity: 0;
    transform: translateY(5rem); }
  100% {
    /* finish */
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInTop {
  /* Best practice is to always
     animate the opacity and transform
     properties for best performance */
  0% {
    /* start */
    opacity: 0;
    transform: translateY(-5rem); }
  100% {
    /* finish */
    opacity: 1;
    transform: translate(0); } }

body {
  font-family: "Montserrat", sans-serif;
  color: #1D2731;
  font-weight: 300;
  line-height: 1.6; }

.heading-1, .heading-2, .heading-3, .heading-4, .heading-5 {
  font-family: "Fjalla One", sans-serif;
  font-weight: 400;
  text-shadow: 0.3rem 0.3rem 1rem rgba(0, 0, 0, 0.6);
  text-transform: uppercase; }

.heading-1 {
  font-size: 7rem;
  letter-spacing: 2px; }

.heading-2 {
  font-size: 4rem; }

.heading-3 {
  font-size: 3rem; }

.heading-4 {
  font-size: 1.6rem; }

.heading-5 {
  font-size: 1.2rem; }

strong {
  font-weight: 600; }

.p1, .p2, .p3 {
  font-weight: 400;
  color: #1D2731;
  text-shadow: 0.5rem 1rem 2rem rgba(0, 0, 0, 0.4); }

.p1 {
  font-size: 3rem; }
  @media only screen and (max-width: 37.5em) {
    .p1 {
      font-size: 2.5rem; } }

.p2 {
  font-size: 2rem; }

.p3 {
  font-size: 1.6rem; }

.text__light {
  color: #f7f7f7; }

a {
  display: inline-flex; }

.external__link:link, .external__link:visited {
  color: #015249;
  display: inline-block;
  transition: all .2s; }

.external__link:hover, .external__link:active {
  color: #f5faf9;
  transform: translateY(1px); }

.container {
  display: grid;
  grid-template-rows: 80vh repeat(4, min-content);
  grid-template-columns: [left-pad-start] minmax(6rem, 1fr) [center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end]) [center-end] minmax(6rem, 1fr) [right-pad-end]; }
  .container::after {
    content: "";
    display: table;
    clear: both;
    visibility: hidden; }

header.header {
  display: grid;
  grid-column: 1 / -1;
  grid-row-gap: 1.5rem;
  grid-template-rows: 1fr minmax(16rem, max-content) 1fr;
  grid-template-columns: 1fr minmax(50%, min-content) 3fr; }

section.portfolio {
  grid-column: center-start / center-end; }

section.skills {
  grid-column: center-start / center-end; }

footer.footer {
  grid-column: 1 / -1;
  grid-row: -1; }

.header {
  background-image: linear-gradient(to bottom left, #0b3c5d, rgba(11, 60, 93, 0.7)), url("../img/header-small.jpg");
  background-size: cover;
  background-position: top;
  height: 80vh;
  backface-visibility: hidden;
  transition: transform .4s; }
  @supports (clip-path: polygon(0 0)) or (-webkit-clip-path: polygon(0 0)) {
    .header {
      -webkit-clip-path: polygon(0 0, 100% 0, 100% 70vh, 0 100%);
      clip-path: polygon(0 0, 100% 0, 100% 70vh, 0 100%); } }
  .header__text {
    grid-column: 2 / span 1;
    grid-row: 2 / span 1; }
  .header__greeting {
    animation: moveInLeft 1.5s cubic-bezier(0.65, 0.05, 0.36, 1); }
  .header__intro {
    animation: moveInRight 1.5s cubic-bezier(0.65, 0.05, 0.36, 1) 1.3s;
    animation-fill-mode: backwards;
    display: flex;
    flex-wrap: wrap; }
    @media only screen and (max-width: 56.25em) {
      .header__intro {
        font-size: 2.5rem; } }

.nav {
  grid-column: 1 / -1;
  padding: 1rem;
  height: 4rem;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  animation: moveInTop 0.5s ease-in 2.6s;
  animation-fill-mode: backwards; }
  .nav__list {
    display: flex;
    padding-top: 1rem; }
  .nav__item {
    align-self: center;
    list-style: none; }
    .nav__item > a {
      text-decoration: none;
      color: white;
      outline: 0; }
  .nav__icon-svg {
    width: 2rem;
    height: 2rem;
    fill: currentColor; }
  .nav__link {
    font-size: 2rem;
    font-family: "Fjalla One", sans-serif;
    text-transform: uppercase;
    text-align: center;
    padding-top: 0.5rem;
    padding-right: 1.5rem;
    padding-left: 1.5rem;
    display: block;
    filter: drop-shadow(0.3rem 0.3rem 1rem rgba(0, 0, 0, 0.6));
    transition: all .2s; }
  .nav__link:hover, .nav__link:active {
    background-color: rgba(255, 255, 255, 0.05);
    transform: translateY(-3px); }

.skills {
  padding-top: 2rem; }
  .skills__section:not(:last-child) {
    margin-bottom: 4rem; }
  .skills__header {
    margin-top: 2rem;
    margin-bottom: 2rem; }
  .skills__grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
    grid-gap: 7rem; }
    @media only screen and (max-width: 37.5em) {
      .skills__grid {
        grid-gap: 3rem; } }
  .skills__skill {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column; }
  .skills__logo {
    height: 5rem;
    width: 5rem; }

.projects {
  margin: 2rem 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  grid-gap: 5rem; }

.project {
  display: grid;
  background-color: #f5faf9;
  box-shadow: 0.3rem 0.3rem 1rem rgba(0, 0, 0, 0.6); }
  .project__img {
    width: 100%;
    object-fit: cover; }
  .project__details {
    padding: 1.5rem 1.5rem 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: space-between; }
  .project__description {
    text-align: center; }
  .project__skills {
    margin: auto; }
    .project__skills-list {
      display: flex;
      flex-wrap: wrap; }
  .project__skill {
    list-style: none;
    display: inline-block;
    background-color: #219905;
    color: #f5f5f5;
    font-weight: bold;
    padding: 5px;
    margin-top: 1rem;
    margin-right: 1rem;
    box-shadow: 0.3rem 0.3rem 1rem rgba(0, 0, 0, 0.6);
    font-size: small; }
  .project__links {
    display: flex;
    justify-content: flex-end;
    height: 5rem;
    padding-top: 0;
    margin-top: auto; }
  .project__link {
    height: 4rem;
    width: 4rem;
    padding-left: 1rem;
    padding-right: 1rem; }
