@mixin clearfix {
  &::after {
    content: "";
    display: table;
    clear: both;
    visibility: hidden;
  }
}

// MEDIA QUERY MANAGER
/**
      0 - 600px:  Phone
    600 - 900px:  Tablet Portrait
   900 - 1200px:  Tablet landscape
[1200 - 1800px]:  Our Normal Styles apply
      1800px + :  Big Desktop

  $breakpoint argument choices:
    - phone
    - tab-port
    - tab-land
    - big-desktop

    em is the best option for media queries, not rem.

    ORDER to making stuff responsive:
      Base + typography > general layout + grid > page layout > components
 */
@mixin respond($breakpoint) {
  @if $breakpoint == phone {
    // only apply to screens, not printing for example
    @media only screen and (max-width: 37.5em) { //600px
      @content
    }
  }
  @if $breakpoint == tab-port {
    @media only screen and (max-width: 56.25em) { //900px
      @content
    }
  }
  @if $breakpoint == tab-land {
    @media only screen and (max-width: 75em) { //1200px
      @content
    }
  }
  @if $breakpoint == big-desktop {
    @media only screen and (min-width: 112.5em) { //1800px
      @content
    }
  }
}
