// COLOR VARIABLE
$color-primary-dark: #0b3c5d;
$color-primary-light: #77c9d4;
$color-secondary-dark: #015249;
$color-secondary-light: #57bc90;

$color-light-grey: #f7f7f7;

$color-black: #1D2731;
$color-white: #f5f5f5;

// FONT VARIABLE
$font-primary: 'Fjalla One', sans-serif;
$font-secondary: 'Montserrat', sans-serif;

// ANIMATION
$animation-timing-function: cubic-bezier(.65,.05,.36,1);

// TEXT SHADOW
$text-shadow: 0.3rem 0.3rem 1rem rgba(0, 0, 0, 0.6);

