header.header {
  display: grid;
  grid-column: 1 / -1;
  grid-row-gap: 1.5rem;
  grid-template-rows: 1fr minmax(16rem, max-content) 1fr;
  grid-template-columns: 1fr minmax(50%, min-content) 3fr;
}

section.work-experience {
  grid-column: center-start / center-end;
  grid-row: 2;
}

section.projects {
  grid-column: center-start / center-end;
  background-color: orangered;
}

section.skills {
  grid-column: center-start / center-end;
  background-color: navy;
}

footer.footer {
  grid-column: 1 / -1;
  background-color: greenyellow;
}
