header.header {
  display: grid;
  grid-column: 1 / -1;
  grid-row-gap: 1.5rem;
  grid-template-rows: min-content 1fr minmax(16rem, max-content) 1fr;
  grid-template-columns: 1fr minmax(50%, min-content) 3fr;
}

section.projects {
  grid-column: center-start / center-end;
}

section.skills {
  grid-column: center-start / center-end;
}

footer.footer {
  grid-column: 1 / -1;
}
