.container {
  @include clearfix;

  display: grid;
  grid-template-rows: 80vh repeat(4, min-content);
  grid-template-columns: [left-pad-start] minmax(6rem, 1fr)
  [center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end]) [center-end]
  minmax(6rem, 1fr) [right-pad-end];
}

header.header {
  display: grid;
  grid-column: 1 / -1;
  grid-row-gap: 1.5rem;
  grid-template-rows: 1fr minmax(16rem, max-content) 1fr;
  grid-template-columns: 1fr minmax(50%, min-content) 3fr;
}

section.portfolio {
  grid-column: center-start / center-end;
}

section.skills {
  grid-column: center-start / center-end;
}

footer.footer {
  grid-column: 1 / -1;
  grid-row: -1;
}
