.header {
  background-image: linear-gradient(to bottom left,
          rgba($color-primary-dark, 1),
          rgba($color-primary-dark, 0.7)),
  url("../../img/header-large.jpg");
  background-size: cover;
  background-position: top;
  position: relative;
  height: 75vh;

  @supports (clip-path: polygon(0 0)) or (-webkit-clip-path: polygon(0 0)) {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 60vh, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 60vh, 0 100%);
  }

  display: grid;
  grid-row-gap: 1.5rem;
  grid-template-rows: 1fr minmax(16rem, max-content) 1fr;
  grid-template-columns: 1fr minmax(50%, min-content) 3fr;

  &__text {
    grid-column: 2 / span 1;
    grid-row: 2 / span 1;

  }

  &__greeting {

  }

  &__intro {
    display: flex;
    flex-wrap: wrap;
  }
}
