.header {
  background-image: linear-gradient(to bottom left,
          rgba($color-primary-dark, 1),
          rgba($color-primary-dark, 0.7)),
  url("../img/header-small.jpg");
  background-size: cover;
  background-position: top;
  height: 75vh;
  backface-visibility: hidden;
  transition: transform .4s;

  @supports (clip-path: polygon(0 0)) or (-webkit-clip-path: polygon(0 0)) {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 60vh, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 60vh, 0 100%);
  }

  &__text {
    grid-column: 2 / span 1;
    grid-row: 3 / span 1;

  }

  &__greeting {
    color: $color-white;
    animation: moveInLeft 1.5s $animation-timing-function;
  }

  &__intro {
    animation: moveInRight 1.5s $animation-timing-function 1.3s;
    animation-fill-mode: backwards; // makes text start hidden

    display: flex;
    flex-wrap: wrap;
  }
}
