.nav {
  grid-column: 1 / -1;
  padding: 1rem;
  height: 4rem;

  display: flex;
  align-items: center;
  justify-content: flex-end;

  animation: moveInTop 0.5s ease-in 2.6s;
  animation-fill-mode: backwards; // makes text start hidden


  &__list {
    display: flex;
    padding-top: 1rem;
  }

  &__item {
    align-self: center;

    list-style: none;

    > a {
      text-decoration: none;
      color: white;
      outline: 0;
    }
  }

  &__icon-svg {
    width: 2rem;
    height: 2rem;
    fill: currentColor;
  }

  &__link {
    font-size: 2rem;
    color: white;
    text-decoration: none;
    font-family: $font-primary;
    text-transform: uppercase;
    text-align: center;
    padding: 1.5rem;
    display: block;

    transition: all .2s;
  }

  &__link:hover,
  &__link:active {
    background-color: rgba(#fff, .05);
    transform: translateY(-3px);
  }
}
