.projects {
  margin: 2rem 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  grid-gap: 5rem;
}

.project {
  display: grid;
  grid-template-rows: max-content;
  background-color: $color-secondary-light;
  box-shadow: $shadow;

  &__img {
    width: 100%;
    object-fit: cover;
  }

  &__details {
    padding: 1.5rem 1.5rem 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: space-between;
  }

  &__title {
    margin-top: auto;
  }

  &__description {
    text-align: center;
  }

  &__skills {
    margin-top: auto;
    &-list {
      display: flex;
      flex-wrap: wrap;
    }
  }

  &__skill {
    list-style: none;
    display: inline-block;
    background-color: $color-tertiary-light;
    color: $color-white;
    font-weight: bold;
    padding: 5px;
    margin-top: 1rem;
    margin-right: 1rem;
    box-shadow: 0.2rem 0.2rem 0.5rem rgba(0, 0, 0, 0.3);
    font-size: small;
  }

  &__links {
    display: flex;
    justify-content: flex-end;
    height: 5rem;
    padding-top: 0;
    margin-top: auto;

    > a {
      font-size: 2rem;
      text-align: center;
      padding-top: 0.5rem;
      padding-right: 1rem;
      padding-left: 1rem;
      display: block;
      filter: drop-shadow($shadow);
      transition: all .2s;

      &:hover,
      &:active {
        background-color: rgba(#fff, .05);
        transform: translateY(-3px);
      }
    }
  }

  &__link {
    height: 4rem;
    width: 4rem;
    padding-left: 1rem;
    padding-right: 1rem;
  }
}
