.skills {

  &__header {
    margin-top: 2rem;
    margin-bottom: 2rem;
  }

  &__grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
    grid-gap: 7rem;

    @include respond(phone) {
      grid-gap: 3rem;
    }
  }

  &__skill {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  &__logo {
    height: 5rem;
    width: 5rem;
  }

  &__logo-description {
    color: $color-black;
  }
}
