.work-experience {
  display: grid;
  grid-gap: 3rem;

  margin-bottom: 3rem;

  &__card {
    display: grid;
    grid-template-columns: 22rem minmax(20rem, max-content);
    grid-gap: 3rem;
  }

  &__heading {
    margin-right: 1rem;

    display: grid;
    grid-template-rows: repeat(4, minmax(3rem, min-content));
    grid-template-columns: minmax(3rem, min-content) 1fr;
  }

  &__icon {
    width: 1.75rem;
    height: 1.75rem;
    margin-right: 2rem;
    margin-top: -5px;
    fill: currentColor;

    justify-self: right;
    align-self: center;
    grid-column: 1 / 2;
    grid-row: 1 / 2;
  }

  &__name {
    grid-column: 2 / -1;
    grid-row: 1 / 2;
  }

  &__location {
    grid-column: 2 / -1;
    grid-row: 2 / 3;

    &__icon {
      width: 1.75rem;
      height: 1.75rem;
      margin-right: 2rem;
      margin-top: -5px;
      fill: currentColor;

      justify-self: right;
      align-self: center;
      grid-column: 1 / 2;
      grid-row: 2 / 3;
    }
  }

  &__role {
    grid-column: 2 / -1;
    grid-row: 3 / 4;
  }

  &__dates {
    font-weight: 500;
    grid-column: 2 / -1;
    grid-row: 4 / 5;
  }

  &__description {

    & > * {
      font-size: 1.5rem;
    }

    &__sublist > * {
      margin-left: 2rem;
    }
  }
}

li {
  list-style: none;

  &::before {
    content: "";
    display: inline-block;
    height: 1rem;
    width: 1rem;
    margin-right: .7rem;

    //approach for older browsers
    background-image: url(../../img/SVG/arrow_forward_ios.svg);
    background-size: cover;

    //newer browsers - masks
    @supports (-webkit-mask-image: none) or (mask-image: none) {
      background-color: $color-black;
      -webkit-mask-image: url(../../img/SVG/arrow_forward_ios.svg);
      -webkit-mask-size: cover;
      mask-image: url(../../img/SVG/arrow_forward_ios.svg);
      mask-size: cover;
      background-image: none;
    }
  }
}
