body {
  font-family: $font-secondary;
  color: $color-black;
  font-weight: 300;
  line-height: 1.6;
}

%heading {
  font-family: $font-primary;
  font-weight: 400;
  text-shadow: 0.3rem 0.3rem 1rem rgba(0, 0, 0, 0.4);
  text-transform: uppercase;
}

.heading-1 {
  @extend %heading;
  font-size: 7rem;
  letter-spacing: 2px;
}

.heading-2 {
  @extend %heading;
  font-size: 4rem;
}

.heading-3 {
  @extend %heading;
  font-size: 2rem;
}

.heading-4 {
  @extend %heading;
  font-size: 1.6rem;
}

.heading-5 {
  @extend %heading;
  font-size: 1.2rem;
}

strong {
  font-weight: 600;
}



%paragraph {
  font-weight: 400;
  color: $color-light-grey;
  text-shadow: 0.5rem 1rem 2rem rgba(0, 0, 0, 0.4);
}

.p1 {
  @extend %paragraph;
  font-size: 3rem;

  @include respond(phone) {
    font-size: 2.5rem;
  }
}

.p2 {
  @extend %paragraph;
  font-size: 2rem;
}

.p3 {
  @extend %paragraph;
  font-size: 1.6rem;
}
